{% extends 'login/base.html' %}
{% load static %}
{% block title %}资产详细{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}


 <h2>项目明细</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>项目名称</th>
              <th>项目经理</th>
              <th>备注信息</th>
{#              <th>Header</th>#}
{#              <th>Header</th>#}
            </tr>
          </thead>

        </table>
      </div>


{% endblock %}

{% block script %}

{% endblock %}